<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="android.example.barberbooking">

    <uses-sdk tools:overrideLibrary="com.truecaller.android.sdk" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarberBooking">
        <activity android:name=".BeautyTrainingActivity"></activity>
        <activity android:name=".user.NotificationActivity" />
        <activity android:name=".user.HelpAssistantActivity" />
        <activity android:name=".user.ShowBookingDetailsActivity" />
        <activity android:name=".stylist.TransactionsDetailsActivity" />
        <activity android:name=".stylist.SearchResultStylists" />
        <activity android:name=".stylist.AddressActivity" />
        <activity android:name=".stylist.BookingActivity" />
        <activity android:name=".stylist.StylistActivity" />
        <activity android:name=".vendor.homefacility.ImageHmActivity" />

        <meta-data
            android:name="com.truecaller.android.sdk.PartnerKey"
            android:value="@string/partnerKey" />

        <activity android:name=".vendor.StatusActivity" />
        <activity android:name=".vendor.homefacility.SubmitHmVendorActivity" />
        <activity android:name=".vendor.homefacility.AddServicesActivity" />
        <activity android:name=".vendor.homefacility.GovtIdActivity" />
        <activity android:name=".vendor.homefacility.BankingDetailActivityHm" />
        <activity android:name=".vendor.homefacility.HmVendorDetail" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".vendor.SubmitFormActivity" />
        <activity android:name=".vendor.FacilitiesSelectActivity" />
        <activity android:name=".vendor.VendorDetail" />
        <activity android:name=".vendor.VendorAgreement" />
        <activity android:name=".SaloonActivity" />
        <activity android:name=".CalenderActivity" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/SearchTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LauncherActivity"
            android:theme="@style/DemoTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>